h2 {
  font-size: 48px;
}
.Weather #temp {
  font-size: 50px;
}
.weather-info {
  font-size: 20px;
}
.Weather #search-input,
#search-button {
  border-radius: 20px;
}
.Weather canvas {
  height: 80px;
  width: 80px;
  margin-top: 10px;
  display: inline-block;
}
